.chatViewWrapper{
    height: 100%;
    .messageWrapper{
        max-height: calc(100% - 80px);
        min-height: calc(100% - 80px);
        overflow: auto;
        .myMessage{
            margin: 0.3rem;
            min-width: 200px;
            max-width: 400px;
            float : right;
            display: block;
            background-color: rgba(235, 235, 8, 0.796);
            clear:both;
            border-radius: 0.5rem;
            padding: 10px;
            word-break: break-all;
        }   
        .anotherUserMessage{
            margin: 0.3rem;
            min-width: 200px;
            max-width: 400px;
            float: left;
            display: block;
            background-color: gainsboro;
            clear:both;
            border-radius: 0.5rem;
            padding: 10px;
            word-break: break-all;
        }
    }
    .MuiTextField-root	{
        height: 40px;
        width: calc(100% - 80px);
    }
    .MuiButton-root	{
        height: 40px;
    }
}

// .message{
//     padding: 10px;
//     max-height: calc(100% - 50px);
//     height: calc(100% - 50px);
//     min-width: 300px;
//     /* overflow-y: hidden; */
//     overflow: auto ;

//}
